.profile__edit-button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(0, 0, 0, 0%);
  background-image: url(../../../images/red_button.svg);
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  outline: 2px white solid;
  outline-offset: 5px;
  border: hidden;
  grid-column: 2/3;
}

.profile__edit-button:hover {
  opacity: 60%;
}


@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 12px;
    height: 12px;
    margin-left: 14px;
  }
}
