.profile__profile-info {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 56px;

}


@media screen and (max-width: 769px) {
  .profile__profile-info {
    margin-top: 22px;
    padding: 0;
    align-items: center;
    width: 300px;
  }
}
