.profile__add-button {
  order: 999;
  margin-left: auto;
  border: 0;
  border-radius: 0;
  background-color: black;
}

.profile__add-button:hover {
  opacity: 60%;
}


@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 0;
  }
}
