.popup__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 426px) {
  .popup__fieldset{
    margin-top: 75px;
  }
}
