.profile__edit-button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(0, 0, 0, 0%);
  background-image: url(../../../images/red_button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position-y:center; */
  width: 10px;
  height: 10px;
  outline: 1px white solid;
  outline-offset: 7px;
  border: hidden;
  grid-column: 2/3;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}


@media screen and (max-width: 425px) {
  .profile__edit-button {
    padding: 0;
    width: 7.5px;
    height: 7.5px;
    outline-offset: 5px;

  }
}
