.footer__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 426px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
  }

}
