.profile__profile-info {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  min-height: 73px;
  justify-content:flex-start;
  /* align-items: center; */
  padding-left: 26px;
}


@media screen and (max-width: 425px) {
  .profile__profile-info {
   padding: 0;
  }
}
