.profile__profile-info {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  justify-content:flex-start;
  padding-left: 26px;
  margin-top: 20px;
}


@media screen and (max-width: 426px) {
  .profile__profile-info {
    margin-top: 22px;
    padding: 0;
    align-content: center;
  }
}
