.popup__field-error {
  display: block;
  height: 30px;
  padding-right: 10px;
  visibility: hidden;
  padding-left: 40px;
  border: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #FF0000;

}
