.profile__profile-title {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content max-content));
  grid-template-rows: 20px;
  align-items:center;
  margin-bottom: 18px;
  column-gap: 18px;
}

@media screen and (max-width: 426px) {
  .profile__profile-title {
    column-gap: 0;
    margin-bottom: 10px;
  }
}
