.elements__like-button {
  background-color: #00000000;
  /* opacity: 0%; */
  border: none;
  order: 998;
  margin-left: auto;
}

.elements__like-button:hover {
  opacity: 50%;
}

.elements__like-button:active {
  background-color: rgba(0, 0, 0, 100%);;
}
