.elements__trash-button {
  width: 18px;
  height: 19px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/trash-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.elements__trash-button:hover {
  opacity: 60%;
}

