.popup__field {
  /* position: relative; */
  border: 0;
  width: 80%;
  border-bottom: 1px rgba(0, 0, 0, 20%) solid;
  margin: 0 auto;
  margin-bottom: 5px;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 512px) {
  .popup__field {
    padding-bottom: 10px;
  }
}
